{% block sideMenu %}
    <!-- Main Sidebar Container -->

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{ path('list_delete_posts_request') }}" class="brand-link">
            <img src="{{ asset('dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Masters Blog</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item ">
                        <a href="{{ path('list_delete_posts_request') }}" class="nav-link active">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Delete Requests
                                <span class="right badge badge-danger">35</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_list') }}" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Accounts List
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}